<link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/bootstrap-responsive.css" rel="stylesheet">

    <link href="/assets/m-forms.min.css" rel="stylesheet">
    <link href="/assets/m-buttons.css" rel="stylesheet">
    <link href="/assets/custom.css" rel="stylesheet">
    <link href="/assets/font-awesome.css" rel="stylesheet">
    
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">


  </head>

  <body id="home" data-spy="scroll" data-target=".navbar">

    <!-- HEADER CONTAINER -->


      <!-- CONTENT -->
   

<div class="row header">
   
  <!-- NAV --> 
  
<nav class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">

                    <a class="btn btn-navbar m-btn blue" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>


                    <h1 class="brand">
                        <a href="#about" class="anchorLink">
                            <img src="./assets/hh.png" alt="">
                        </a>                            
                    </h1>
            
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                          <li><a href="#home" class="anchorLink">Home</a></li>
                          <li><a href="#about" class="anchorLink">About</a></li>
                          <li><a href="#portfolio" class="anchorLink">Portfolio</a></li>
                          <li><a href="#contact" class="anchorLink">Contact</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
  </div>


<!-- Start Callout -->
    <div class="full callout">
<div class="well">
        <div class="row">
          <div class="span14 companycallout">
          <h1>henghong</h1>
         
<p><a class="span2 btn big anchorLink" href="http://www.github.com/henghonglee"><i class="icon-github icon-large"></i>    Github</a><a class="span2 btn-primary big anchorLink" href="http://www.facebook.com/henghonglee"><i class="icon-facebook icon-large"></i>    Facebook</a><a class="span2 btn-info big anchorLink" href="http://www.twitter.com/henghonglee"><i class="icon-twitter icon-large"></i>    Twitter</a><a class="span2 btn-danger big anchorLink" href="http://stackoverflow.com/users/809827/henghonglee"><i class="icon-list-ol icon-large"></i>     StackOverflow</a><a class="span2 btn-primary big anchorLink" href="http://www.linkedin.com/profile/view?id=142407471&locale=en_US&trk=prof-0-ovw-view-secondary">LinkedIn<i class="icon-linkedin icon-large"></i></a></p>
</div>

        </div>
      </div>
    </div>

<!-- Start About -->
        <div class="row-fluid section" id="about">
          <div class="container"> 

            <div class="explain">
              <h2>about</h2>
              <p class="intro">Passionate. Disruptive. Innovative. Psyched. Hacker. Climber. Sleeps.</p>
              <div class="row-fluid"> 
				<div class="span4">
		            <h3>UI/UX Design</h3>
		            <p>Focus on Content, Relevance, Minimalism and Attention to detail. Test and iterate, improve with analytics. Enjoys good typography, Mobile UI/UX design, analysis of user behaviour</p>
		          </div>
		
              <div class="span4">
                <h3>Development</h3>
                <p>Full stack Engineer, from mobile to web , from frontend to backend, from Photoshop to SQL. Always looking into best practices. Also dabbles in electronic gadgetry, from wire pulling to hair pulling</p>
              </div>

          <div class="span4">
            <h3>Climbing</h3>
            <p>Climbs to pop objects off the stress stack. Loves taking calculated risks and taking big falls. Enjoys doing the impossible.</p>
          </div>
         

          <!-- <p>
            <a class="btn btn-large actionbtn" href="#">Our Services</a>
            
          </p> -->

          </div> 
                
          </div>
        </div>
      </div>
            
                

      <!-- PORTFOLIO -->
      <div class="row section" id="portfolio">
    <div class="container">

                  <h2>portfolio</h2>
                  <p class="intro">My Projects. Self initiated. Work-related projects not included</p>
      <!-- Start Portfolio Navigation -->
      <nav class="primary m-btn-group toggle-buttons clearfix"> 
          <ul> 
              <li><a href="#" class="m-btn selected" data-filter="*">All</a></li> 
              <li><a href="#" class="m-btn" data-filter=".psyched">Psyched!</a></li> 
              <li><a href="#" class="m-btn" data-filter=".pweb">PsychedWeb</a></li> 
              <li><a href="#" class="m-btn" data-filter=".sc2ref">Sc2Ref</a></li> 
              <li><a href="#" class="m-btn" data-filter=".tt">Tilt Titans</a></li> 
              <li><a href="#" class="m-btn" data-filter=".others">Others</a></li> 
          </ul> 
      </nav> 


            <!-- START Portfolio items -->

            <section class="main clearfix"> 
              
            <div class="portfolio"> 
                  
                <figure class="entry psyched"> 
                    <img src="/assets/p1.png" alt="">
                </figure> 
				<figure class="entry psyched"> 
                    <img src="/assets/p4.png" alt=""> 
                </figure>
				<figure class="entry psyched"> 
                    <img src="/assets/p13.png" alt="">
                </figure>
				<figure class="entry psyched"> 
                    <img src="/assets/p14.png" alt="">
                </figure>
				<figure class="entry psyched"> 
                    <img src="/assets/p15.png" alt="">
                </figure>
				<figure class="entry psyched"> 
                    <img src="/assets/p16.png" alt="">
                </figure>
				<figure class="entry psyched"> 
                    <img src="/assets/p17.png" alt="">
                </figure>
  				<figure class="entry psyched"> 
                    <img src="/assets/p5.png" alt=""> 
                </figure> 
  
                <figure class="entry psyched"> 
                    <img src="/assets/p6.png" alt=""> 
                </figure> 
  
                <figure class="entry psyched"> 
                    <img src="/assets/p7.png" alt=""> 
                </figure> 

				<figure class="entry psyched"> 
                    <img src="/assets/p8.png" alt=""> 
                </figure> 
  
                <figure class="entry psyched"> 
                    <img src="/assets/p9.png" alt=""> 
                </figure> 
  
                <figure class="entry psyched"> 
                    <img src="/assets/p10.png" alt=""> 
                </figure> 
  
                <figure class="entry psyched"> 
                    <img src="/assets/p12.png" alt=""> 
                </figure> 
  
                <figure class="entry psyched"> 
                    <img src="/assets/p11.png" alt=""> 
                </figure> 
  
  
                <figure class="entry pweb"> 
                    <img src="/assets/pw1.png" alt=""> 
                </figure> 

                <figure class="entry pweb"> 
                    <img src="/assets/pw4.png" alt=""> 
                </figure> 
  
                <figure class="entry pweb"> 
                    <img src="/assets/pw2.png" alt=""> 
                </figure> 
  				<figure class="entry pweb"> 
                    <img src="/assets/pw3.png" alt=""> 
                </figure> 

                <figure class="entry pweb"> 
                    <img src="/assets/pw5.png" alt=""> 
                </figure> 
  

  				<figure class="entry tt"> 
                    <img src="/assets/tt1.jpg" alt=""> 
                </figure> 

                <figure class="entry tt"> 
                    <img src="/assets/tt2.jpg" alt=""> 
                </figure> 
  
                <figure class="entry tt"> 
                    <img src="/assets/tt3.jpg" alt=""> 
                </figure>

				<figure class="entry tt"> 
                    <img src="/assets/tt4.jpg" alt=""> 
                </figure> 

				<figure class="entry sc2ref"> 
                    <img src="/assets/sc1.jpg" alt=""> 
                </figure> 

                <figure class="entry sc2ref"> 
                    <img src="/assets/sc2.jpg" alt=""> 
                </figure> 
  
                <figure class="entry sc2ref"> 
                    <img src="/assets/sc3.jpg" alt=""> 
                </figure>

				<figure class="entry sc2ref"> 
                    <img src="/assets/sc4.jpg" alt=""> 
                </figure>
            </div> 
  
        </section> 



    </div>
  </div>
    <!-- End PORTFOLIO -->



    


    <!-- CONTACT -->



     <div class="row section" id="contact">
    <!-- MAP ############################################### -->
    
    <div>  
    <div class="container">
      <h2>Contact</h2>
    </div>
    
      <div class="container hidden-phone" id="map"> </div> <!-- /container -->
    
    
       
          <div class="span3 offset1" >
            <h3>Contact info</h3>

              <p>Blk 10F Braddell Hill #23-24<br>
                Singapore, Singapore<br>
                579725
                Phone: (65) 91510182<br>
                Fax: (65) 91510182<br>
                Email: henghong.lee@gmail.com<br>

            
          </div>
          
          
        </div>    
    
       


    
  <script src="/assets/jquery.js"></script>
  <script src="/assets/jquery.mousewheel-3.0.4.pack.js"></script>
  <script src="/assets/jquery.gmap.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="/assets/iso-custom.js"></script>
  <script src="/assets/jquery.isotope.min.js"></script> 
  <script src="/assets/bootstrap-scrollspy.js"></script>
  <script src="/assets/anchor.js" type="text/javascript"></script>
  <script src="/assets/bootstrap.js"></script>



     <!-- MAP -->

   <script type="text/javascript">
  $(document).ready(function(){
    $("#map").gMap({ controls: false,
                      scrollwheel: false,
                          draggable: true,
                      markers: [{ latitude: 1.297346 ,
                                  longitude: 103.786908 ,
                                  icon: { image: "/assets/pin.png",
                                          iconsize: [32, 47],
                                          iconanchor: [32,47],
                                          infowindowanchor: [12, 0] } }
                                ],
                      icon: { image: "/assets/pin.png", 
                              iconsize: [26, 46],
                              iconanchor: [12, 46],
                              infowindowanchor: [12, 0] },
                      latitude: 1.297346,
                      longitude: 103.786908,
                      zoom: 15, });
  });
  </script>